<?xml version="1.0" encoding="UTF-8" ?>

<launch>
    <include file="$(find vrep_ros_teleop)/launch/teleop_mux.launch"/>
    <node name="task_server" pkg="floor_nav" type="task_server" output="screen" >
        <!-- After install -->
        <!-- <param name="lib_path" value="$(find floor_nav)/tasks"/> -->
        <!-- While developing -->
        <param name="lib_path" value="$(find floor_nav)/../../devel/share/floor_nav/tasks"/>
        <!--<param name="base_frame" value="rosControlledBubbleRob"/>
        <param name="reference_frame" value="world"/>-->
        <param name="base_frame" value="Rover"/>
        <param name="reference_frame" value="odom"/>
    </node>
     
    <node name="viz_graph" pkg="floor_graph" type="viz_graph.py" output="screen">
    </node>
    

  <node pkg="rover_driver_base" type="rover_command.py" name="rover" output="screen">
      <param name="rover_name" value="rover"/>
      <param name="skidsteer" value="false"/>
      <remap from="~twistCommand" to="/vrep/twistCommand"/>
  </node>

  <node pkg="rover_driver_base" type="rover_odom.py" name="odom" output="screen">
      <param name="rover_name" value="rover"/>
  </node>


</launch>

